{% extends 'base.html.twig' %}

{% block title %}Mis artículos | Reusa {% endblock %}

{% block body %}
    <div class="container my-4 "
        {{ stimulus_controller('reload-content', {
            url: path('app_article_index', {ajax: '1'})
        }) }}
        data-action="modal-form:success->reload-content#refreshContent"
        >
        <div class="d-flex align-items-center justify-content-between"> 
            <h1 class="mx-2">Mis artículos</h1>
            <div {{ stimulus_controller('modal-form', { 
                    formUrl: path('app_article_new')
                }) }} 
                data-action="hidden.bs.modal->modal-form#modalHidden"
            >
                {# <a class="btn btn-success btn-sm rounded-pill" href="{{ path('app_article_new') }}"><i class="bi bi-plus-circle-fill"></i> Añadir</a> #}
                <button class="btn btn-success btn-sm rounded-pill" data-action="modal-form#openModal"> <i class="bi bi-plus-circle-fill"></i> Añadir</button>
                {{ include('_modal.html.twig', {
                modalTitle: 'Agregar un nuevo producto',
            }) }}
            </div>
        </div>
        <div data-reload-content-target="content">
            
             {{ include('article/_list.html.twig') }}
            
                
        </div>
    </div>
{% endblock %}
